# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven wrapper
.mvn/wrapper/maven-wrapper.jar

# Spring Boot
application-local.yaml
application-prod.yaml

# Environment / Secrets
.env
*.env
*.env.local

# IDE
.idea/
*.iml
.vscode/
*.DS_Store

# OS
Thumbs.db
.DS_Store

# Uploads
src/main/resources/static/uploads/**
!src/main/resources/static/uploads/.gitkeep
